mixin nav 
    section.nav
        nav 
            ul.nav__list 
                li.nav__item 
                    a(href="#block1")
                        img(src="assets/images/general/1small.svg", alt="Номер задания 1")
                li.nav__item 
                    a(href="#block2")
                        img(src="assets/images/general/2small.svg", alt="Номер задания 2")
                li.nav__item 
                    a(href="#block3")
                        img(src="assets/images/general/3small.svg", alt="Номер задания 3")
                li.nav__item 
                    a(href="#block4")
                        img(src="assets/images/general/4small.svg", alt="Номер задания 4")
                li.nav__item 
                    a(href="#block5")
                        img(src="assets/images/general/5small.svg", alt="Номер задания 5")
                li.nav__item 
                    a(href="#block6")
                        img(src="assets/images/general/6small.svg", alt="Номер задания 6")
                li.nav__item 
                    a(href="#block7")
                        img(src="assets/images/general/7small.svg", alt="Номер задания 7")
                li.nav__item 
                    a(href="#block8")
                        img(src="assets/images/general/8small.svg", alt="Номер задания 8")
