//- общий header
mixin header
    header.header.header-conteiner
        .header__lang 
            //- a(href="#" id="lang" class="header__lang-ru _lang _active-lang") RU
            //- a(href="#" class="header__lang-en _lang") EN
        p.header__text Для комфортного пользования ресурсом дружелюбно напоминаем отключить сторонние расширения браузера
